{% extends "base.html" %}

{% block title %}Feedback - User Details{% endblock %}

{% block content %}
<h1 class="mt-3 py-4">User Details</h1>
<h3>{{user.first_name}} {{user.last_name}}</h3>
<p>Username: {{user.username}}<br>
    Email: {{user.email}}<br>
</p>

<h3 class="mt-4 py-2">Feedback</h3>
{% for item in feedback%}
<h5>{{item.title}}</h5>
<p>{{item.content}}</p>
{% endfor %}

<form action="/users/{{user.username}}/feedback/add">
    <button type="submit" class="btn btn-primary my-3 px-3">Add Feedback</button>
</form>

<form action="/users/{{user.username}}/delete">
    <button type="submit" class="btn btn-danger my-3 px-3"
     onclick="return confirm('Are you sure you want to delete your account and all of the feedback with it?')">
        Delete Account
    </button>
</form>    
    
{% endblock %}